
.mixin.out
.probe
.vscode
crash-reports
/data
debug
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
ESM
essential
icon-exports-x32
local
/logs
moddata
/mods
moonlight-global-datapacks
patchouli*
resourcepacks
saves
schematics
screenshots
shaderpacks
/xaero
XaeroWaypoints*
.curseclient
command_history.txt
emi.json
foolproof.json
hs_err_pid27760.log
malum_extra.json
minecraftinstance.json
observable_announce
ops.json
options.txt
servers.da*
servers.ess*
TrashSlot*
user*
whitelist*

kubejs/client_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
kubejs/config/probe-settings.json

/config/sodiumextras-client.toml